<div class="products-container products-slider">
    <div class="item pr__origin discount">
        //= ./product-item.html
    </div>
    <div class="item">
        //= ./product-item.html
    </div>
    <div class="item">
        //= ./product-item.html

    </div>
    <div class="item">
        //= ./product-item.html

    </div>
    <div class="item">
        //= ./product-item.html

    </div>
    <div class="item">
        //= ./product-item.html

    </div>
    <div class="item">
        //= ./product-item.html

    </div>
    <div class="item">
        //= ./product-item.html

    </div>

</div>
