<div class="item-wr">
    <div class="stocks">
        <div class="stock-item"></div>
        <div class="stock-item"></div>
        <div class="stock-item"></div>
    </div>
    <div class="img">
        <a href="">
            <img src="./images/product1.jpg" alt="">
        </a>
    </div>
    <div class="part3">

    <div class="part1">
    <div class="product-tech">
        <div class="rating" data-rate="67" title="67/100">
            <span class="rateStarPopup"></span>
            <span class="rateStarPopup"></span>
            <span class="rateStarPopup"></span>
            <span class="rateStarPopup"></span>
            <span class="rateStarPopup"></span>
        </div>
        <div class="pr-number">
            <span>Артикул: 100001КС</span>
        </div>
    </div>
    <p class="item-title">
        <a href="" title="" tabindex="0">Бумага цветная А4 8 л (6 цв+ золото и серебро), одностор., офсет. 55 гр/м2, ТМ
            "Тетрада"
        </a>
    </p>
    </div>
    <div class="part2">
    <div class="prices">
        <a class="price active">
            <div class="price_label">
                <div class="price_info">
                    <div class="info-text">
                        <p>Розничная цена: сумма заказа 0 - 1000 грн.</p>
                    </div>
                </div>
                <span>Розница</span>

            </div>
            <div class="price_count">
                <span>5.70</span>
                <span>грн.</span>
            </div>
        </a>
        <a class="price">
            <div class="price_label">
                <div class="price_info">
                    <div class="info-text">
                        <p>Оптовая цена: сумма заказа 1000 - 18000 грн.</p>
                    </div>
                </div>
                <span>Опт</span>

            </div>
            <div class="price_count">
                <span>5.70</span>
                <span>грн.</span>
            </div>
        </a>
        <a class="price">
            <div class="price_label">
                <div class="price_info">
                    <div class="info-text">
                        <p>Супер оптовая цена: сумма заказа от 18000 грн.</p>
                    </div>
                </div>
                <span>Супер опт</span>

            </div>
            <div class="price_count">
                <span>5.70</span>
                <span>грн.</span>
            </div>
        </a>
    </div>
    <div class="bottom-block">
        <a href="" class="in-cart"><span class="mb-dn" >Корзина</span> <img src="./images/cart.svg" class="mb-480" alt=""></a>
        <div class="counter">
            <button class="minus" tabindex="0" disabled>-</button>
            <input type="text" id="" value="1" name="" data-step="1" inputmode="numeric" tabindex="0">
            <button class="plus" tabindex="0">+</button>
        </div>

    </div>
    </div>
    </div>
</div>
