
/*audio player start*/
.audio-player {
    width: 100%;
    background: #fff;
    color: white;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 35px;
    box-shadow: none;
    color: #b5b5b5;
    font-size: 12px;
}
.audio-player .left_co_t {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
.audio-player .left_co_t .play-container {
    margin-right: 10px; }
.audio-player .timeline {
    background: #ddd;
    width: 100%;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 2px;
}
.audio-player .timeline .progress {
    background: coral;
    width: 0%;
    height: 100%;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }
.audio-player .controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 20px;
    height: 100%; }
.audio-player .controls .top {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 7px solid #0000;
    border-left: 13px solid #ddd; }
.audio-player .controls .toggle-play.play:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
.audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative; }
.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: #ddd;
    content: "";
    height: 15px;
    width: 3px; }
.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 9px;
    background: #ddd;
    content: "";
    height: 15px;
    width: 3px; }
.audio-player .controls .toggle-play.pause:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
.audio-player .controls .time {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
.audio-player .controls .time > * {
    padding: 2px; }
.audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2; }
.audio-player .controls .volume-container .volume-button {
    height: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
.audio-player .controls .volume-container .volume-button .volume {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); }
.audio-player .controls .volume-container .volume-slider {
    position: absolute;
    left: -3px;
    top: 15px;
    z-index: -1;
    width: 0;
    height: 15px;
    background: white;
    -webkit-box-shadow: 0 0 20px #000a;
    box-shadow: 0 0 20px #000a;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s; }
.audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: coral;
    height: 100%;
    width: 75%; }
.audio-player .controls .volume-container:hover .volume-slider {
    left: -123px;
    width: 120px; }

.audio_list {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); }
/*audio player end*/

/*video player start*/


.video-youtube {
    margin: 15px 0;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000000;
}

.video__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
}

.video__button-icon {
    fill: #ffffff;
}

.video__button:focus {
    outline: none;
}

.video-youtube:hover .video__button-shape,
.video__button:focus .video__button-shape {
    fill: #ff0000;
    fill-opacity: 1;
}

/* Enabled */

.video--enabled {
    cursor: pointer;
}

.video--enabled .video__button {
    display: block;
}


/*video player end*/
